# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/*.pyo
backend/staticfiles/
backend/celerybeat-schedule
backend/celerybeat-schedule.db
backend/celerybeat-schedule.bak
backend/celerybeat-schedule.dat
backend/celerybeat-schedule.dir
backend/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/